<h1>Listing assignments</h1>

<table>
  <tr>
    <th>User Name</th>
    <th>Asset #</th>
    <th>Assign date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<p>
<%= link_to 'xls', report_assignments_path(:params => params, :format => :xls )  %> | <%= link_to 'csv', report_assignments_path(:params => params, :format => :csv )  %>
</p>

<% @assignments.each do |assignment| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <%= if params[:transfer] == '1' %>
      <td><%= @report %>
    <% end %>
    
    <td><%= User.find(assignment.user_id).fname + " " + User.find(assignment.user_id).lname %></td>
    <td><%= Computer.find(assignment.computer_id).asset_tag %></td>
    <td><%= assignment.assign_date %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p>

<%= debug params %>
@transfer_list class:  <%= debug @transfer_list.class %>
<%= debug @transfer_list %>
<%= debug @report %>
<%= debug @report.class %>
<%= debug @assignments.class %>
<%= debug @assignmnents %>
</p>
