<h1>Attach Computer</h1>



<table>
  <tr>
    <th>Serial no</th>
    <th>Asset tag</th>
    <th>Computer name</th>
    <th>Make</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @computers.each do |computer| %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even')  %>">
    <td><%= computer.serial_no %></td>
    <td><%= computer.asset_tag %></td>
    <td><%= computer.computer_name %></td>
    <td><%= computer.make %></td>
    <td><%= computer.model %></td>
    <td><%= link_to 'Show', computer %></td>
    <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
    <td><%= link_to 'Destroy', computer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Computer', new_computer_path %>
