<!DOCTYPE html>
<html>
<head>
  <title>InventoryApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "navigation" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav id="top_nav">
    <ul>
      <li><%= link_to_unless_current 'Users', users_path%></li>
      <li><%= link_to_unless_current 'Inventory', assignments_path%></li>
      <li><%= link_to_unless_current 'Assets', computers_path%></li>
      <li><%= link_to_unless_current 'History', history_assignments_path%></li>
      <li><%= link_to_unless_current 'Reporting', report_query_assignments_path%></li>
      <li><%= link_to_unless_current 'Debug', debug_assignments_path%></li>
    </ul>
  </nav>

  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
